.post-134.listing.type-listing.status-publish.hentry.post
  .left
    #addlike134.vote
      %span.b_like_disable ▲
      %span.span_currentvote 
        = tweet.rank
      %span.b_like_disable ▼
  / Post Title Condition for Post Format
  %h3
    %a{:href => "http://templatic.com/demos/plusone/listing/sweet-serenity/"}
      = tweet.hotkey
  / Post Title Condition for Post Format
  .post-meta
    добавил
    %span.post-author
      %a{:href => "http://templatic.com/demos/plusone/author/saqib-4343/", :title => "Posts by Saqib"}
        =tweet.author
    %span.post-date
      May 21, 2011
    %span.post-category
      Категория:
      = succeed "." do
        %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"}=tweet.category.name
  / post meta #end
  / Post Content Condition for Post Format
  .post-content
    = tweet.description
    %a.read_more{:href => "http://templatic.com/demos/plusone/listing/sweet-serenity/", :title => ""} Read More →
  .post-meta.clear-meta
    %span.post-category-none
      Категории:
      = succeed "." do
        %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
    %span.single_comments
      %a.comments_popup_link{:href => "http://templatic.com/demos/plusone/listing/sweet-serenity/#respond", :title => "Comment on Sweet Serenity"} 0
    .post-share
      .addthis_toolbox.addthis_default_style
        %a.addthis_button_compact.sharethis.at300m{:href => "http://www.addthis.com/bookmark.php?v=250&username=xa-4c873bb26489d97f"}
          %span.at300bs.at15nc.at15t_compact>
          Поделиться
        .atclear
        .atclear
    %span.post-view
      Просмотров :
      %strong 912
    %span.single-website
      %a{:href => "http://templatic.com"} Сайт автора
  / post meta #end
  / Post Content Condition for Post Format
