!= "$('ul.tabbernav').html('#{j render "shared/tabs"}').show();"
- unless params[:page]
  != "$('#loop_main').html('#{j render(@tweets)}').append('#{j paginate(@tweets)}');"
- else
  != "$('#loop_main').append('#{j render(@tweets)}').append('#{j paginate(@tweets)}');"
  != if "$(#span.next).length"
    != "$('.pagination').remove();"
