#rank
  = render "info"
%br
= link_to "Favorites", {:controller => "tweets", :action => "favorites", :id => @tweet, :todo => @todo}, :remote => true
%br
= render "comments/form"      
= link_to "Edit", :controller => "tweets", :action => "edit", :id => @tweet
|
= link_to "Home", tweets_path
