%h1 Preview
%table
%tr
  %th Name
  %th Description
  %th Category
  %th Rank
  %tr
    %td= @tweet.name
    %td= @tweet.description
    %td= @tweet.category.name
    %td= @tweet.rank
    %br

#rank
= render "info"
%br
= link_to "Favorites", {:controller => "tweets", :action => "favorites", :id => @tweet, :todo => @todo}, :remote => true
%br
= render "comments/form"      
= link_to "Edit", :controller => "tweets", :action => "edit", :id => @tweet
|
= link_to "Home", tweets_path


.breadcrumb.clearfix
  .breadcrumb_in
    %a{:href => "http://templatic.com/demos/plusone"} Home
    » Article Categories:
    %a{:href => "http://templatic.com/demos/plusone/lcategory/looks/"} Looks
    and
    = succeed "." do
      %a{:href => "http://templatic.com/demos/plusone/lcategory/outstanding/"} Outstanding
    » Article Tags:
    = succeed "." do
      %a{:href => "http://templatic.com/demos/plusone/ltags/zara/"} zara
    » Cute Magazine Alert
.content-title
  %h1
    = @tweet.name
.entry
  #post_143.post-143.listing.type-listing.status-publish.hentry.single.clear
    .post-meta
      by
      %span.post-author
        %a{:href => "http://templatic.com/demos/plusone/author/templatic-test/", :title => "Posts by templatic"}
          templatic
      on
      %span.post-date
        May 21, 2011
      %span.post-category
        Article Categories:
        %a{:href => "http://templatic.com/demos/plusone/lcategory/looks/"} Looks
        and
        = succeed "." do
          %a{:href => "http://templatic.com/demos/plusone/lcategory/outstanding/"} Outstanding
      %span.post-tags-none
        Article Tags:
        = succeed "." do
          %a{:href => "http://templatic.com/demos/plusone/ltags/zara/"} zara
      %span.post-category-none
        Article Categories:
        %a{:href => "http://templatic.com/demos/plusone/lcategory/looks/"} Looks
        and
        = succeed "." do
          %a{:href => "http://templatic.com/demos/plusone/lcategory/outstanding/"} Outstanding
      %span.post-tags
        Article Tags:
        = succeed "." do
          %a{:href => "http://templatic.com/demos/plusone/ltags/zara/"} zara
      %span.single_comments
        %a.comments_popup_link{:href => "http://templatic.com/demos/plusone/listing/cute-magazine-alert/#respond", :title => "Comment on Cute Magazine Alert"} 0
      %br
    / post meta #end
    .post-content.post
      %script{:src => "http://templatic.com/demos/plusone/wp-content/themes/plusone/js/galleria.js", :type => "text/javascript"}
      #galleria
      :javascript
        //
                            .left
          #addlike143.vote
            %span.span_currentvote 7
            %span.b_like_disable Hype
        //
                            %script{:src => "http://templatic.com/demos/plusone/wp-content/themes/plusone/js/fancybox/jquery.fancybox-1.3.4.pack.js", :type => "text/javascript"}
      :javascript
        //
                            %a.detail_img{:href => "http://templatic.com/demos/plusone/wp-content/themes/plusone/images/dummy/19.jpg", :rel => "example_group"}
          %img.zoom{:alt => "", :src => "http://templatic.com/demos/plusone/wp-content/themes/plusone/images/zoom_in.png"}
            %img{:alt => "", :src => "http://templatic.com/demos/plusone/wp-content/themes/plusone/thumb.php?src=http://templatic.com/demos/plusone/wp-content/themes/plusone/images/dummy/19.jpg&w=121&h=115&zc=1&q=80&bid=87"}/
        //
                            %p
        I am always keeping an eye out for new online magazines.
        = succeed "isnt" do
          %strong Dujour
        strictly an online magazine (it is available in print too, which is great because you know how I feel about print!), and it isnt new, but it does look adorable.
      %p It is no real surprise that they could come in and sweep the Australian fashion scene like a gargantuan broom; nor is it really a surprise that, with Zaras first stores only now opening in Australia, our retail scene turned out to be just dust for the sweeping. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent aliquam,  justo convallis luctus rutrum, erat nulla fermentum diam, at nonummy quam  ante ac quam. Maecenas urna purus, fermentum id, molestie in, commodo  porttitor, felis. Nam blandit quam ut lacus. Quisque ornare risus quis  ligula. Phasellus tristique purus a augue condimentum adipiscing. Aenean  sagittis. Etiam leo pede, rhoncus venenatis, tristique in, vulputate at,  odio. Donec et ipsum et sapien vehicula nonummy.
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent aliquam,  justo convallis luctus rutrum, erat nulla fermentum diam, at nonummy quam  ante ac quam. Maecenas urna purus, fermentum id, molestie in, commodo  porttitor, felis. Nam blandit quam ut lacus. Quisque ornare risus quis  ligula. Phasellus tristique purus a augue condimentum adipiscing. Aenean  sagittis. Etiam leo pede, rhoncus venenatis, tristique in, vulputate at,  odio. Donec et ipsum et sapien vehicula nonummy. Suspendisse potenti. Fusce  varius urna id quam. Sed neque mi, varius eget, tincidunt nec, suscipit id,  libero. In eget purus. Vestibulum ut nisl. Donec eu mi sed turpis feugiat  feugiat. Integer turpis arcu, pellentesque eget, cursus et, fermentum ut,  sapien. Fusce metus mi, eleifend sollicitudin, molestie id, varius et, nibh.  Donec nec libero.
      %p Suspendisse potenti. Fusce  varius urna id quam. Sed neque mi, varius eget, tincidunt nec, suscipit id,  libero. In eget purus. Vestibulum ut nisl. Donec eu mi sed turpis feugiat  feugiat. Integer turpis arcu, pellentesque eget, cursus et, fermentum ut,  sapien. Fusce metus mi, eleifend sollicitudin, molestie id, varius et, nibh.  Donec nec libero. To much of the world both Zara and Mango (MNG as the latter is known in Australia) are just two high-street stores that loom over virtually every street corner. And in those cities of saturation one might consider that theres no competition: like Zaras 8 million+ Facebook fans to Mangos sub-2 million, the former simply overshadows the latter. But what about those places in which Zara presence hasnt yet been felt?
    / postcontent #end
  / post #end
  .clearfix
    .post-meta.left
      %span.single-website
        %a{:href => "http://www.technostarry.com"} Website
      .post-share
        .addthis_toolbox.addthis_default_style
          %a.addthis_button_compact.sharethis.at300m{:href => "http://www.addthis.com/bookmark.php?v=250&username=xa-4c873bb26489d97f"}
            %span.at300bs.at15nc.at15t_compact>
            Share
          .atclear
          .atclear
      %script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4c873bb26489d97f", :type => "text/javascript"}
      %span.post-view
        Views :
        %strong 7016
    .right.likethis
      %iframe.twitter-share-button.twitter-count-horizontal{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://platform.twitter.com/widgets/tweet_button.html#_=1324154283123&_version=2&count=horizontal&enableNewSizing=false&id=twitter-widget-0&lang=en&original_referer=http%3A%2F%2Ftemplatic.com%2Fdemos%2Fplusone%2Flisting%2Fcute-magazine-alert%2F&size=m&text=Cute%20Magazine%20Alert%20%7C%20PlusOne%20Templatic%20Theme&url=http%3A%2F%2Ftemplatic.com%2Fdemos%2Fplusone%2Flisting%2Fcute-magazine-alert%2F", :style => "height: 20px; width: 110px; ", :title => "Twitter Tweet Button"}
      %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
      .flike
        #fb-root
        %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
        %fb:like.fb_edge_widget_with_comment.fb_iframe_widget{:font => "", :href => "", :layout => "button_count", :send => "false", :show_faces => "true", :width => "85"}
          %span
            %iframe#f2647b6d04.fb_ltr{:name => "f339a06c4", :scrolling => "no", :src => "http://www.facebook.com/plugins/like.php?channel_url=https%3A%2F%2Fs-static.ak.fbcdn.net%2Fconnect%2Fxd_proxy.php%3Fversion%3D3%23cb%3Df10e61a838%26origin%3Dhttp%253A%252F%252Ftemplatic.com%252Ffcdeba604%26relation%3Dparent.parent%26transport%3Dpostmessage&extended_social_context=false&href=http%3A%2F%2Ftemplatic.com%2Fdemos%2Fplusone%2Flisting%2Fcute-magazine-alert%2F&layout=button_count&locale=en_US&node_type=link&sdk=joey&send=false&show_faces=false&width=90", :style => "border-width: initial; border-color: initial; overflow-x: hidden; overflow-y: hidden; border-width: initial; border-color: initial; height: 20px; width: 90px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; border-image: initial; ", :title => "Like this content on Facebook."}
          %span
            %iframe#f3ca4dab24.fb_ltr{:name => "f1469335bc", :scrolling => "no", :src => "http://www.facebook.com/plugins/like.php?channel_url=https%3A%2F%2Fs-static.ak.fbcdn.net%2Fconnect%2Fxd_proxy.php%3Fversion%3D3%23cb%3Df132c35b68%26origin%3Dhttp%253A%252F%252Flocalhost%253A3000%252Ff16e3b5bf%26relation%3Dparent.parent%26transport%3Dpostmessage&extended_social_context=false&href=http%3A%2F%2Flocalhost%3A3000%2Ftweets%2F4eea57db405f3d315300000c&layout=button_count&locale=en_US&node_type=link&sdk=joey&send=false&show_faces=false&width=90", :style => "border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; border-image: initial; overflow-x: hidden; overflow-y: hidden; height: 21px; width: 90px; ", :title => "Like this content on Facebook."}
  / post #bottom #end
  / post navigation
  .post-navigation.clear
  / #end
/ entry #end
.comments
  #comments
  #respond
    %h3 Post Your Review
    .comment_form
      %form#commentform{:action => "http://templatic.com/demos/plusone/wp-comments-post.php", :method => "post"}
        %p.commpadd.clearfix
          %label{:for => "author"}
            %small.author Name *
          %input#author{:name => "author", :onblur => "if (this.value == '') {this.value = 'Your name';}", :onfocus => "if (this.value == 'Your name') {this.value = '';}", :tabindex => "2", :type => "text", :value => "Your name"}
        %p.commpadd.clearfix
          %label{:for => "email"}
            %small.email2 Email *
          %input#email{:name => "email", :onblur => "if (this.value == '') {this.value = 'Email';}", :onfocus => "if (this.value == 'Email') {this.value = '';}", :tabindex => "3", :type => "text", :value => "Email"}
        %p.commpadd.clearfix
          %label{:for => "url"}
            %small.site Website
          %input#url{:name => "url", :onblur => "if (this.value == '') {this.value = 'Website';}", :onfocus => "if (this.value == 'Website') {this.value = '';}", :tabindex => "4", :type => "text", :value => "Website"}
        %p.commpadd.clearfix.commform-textarea
          %label{:for => "comment"}
            %small.comment2 Review
          %textarea#comment{:cols => "50", :name => "comment", :rows => "7", :tabindex => "1"}
        .submit.clear
          %input#submit{:name => "submit", :tabindex => "5", :type => "submit", :value => "Submit"}
            %p#cancel-comment-reply
              %a#cancel-comment-reply-link{:href => "/demos/plusone/listing/cute-magazine-alert/#respond", :rel => "nofollow", :style => "display:none;"} Click here to cancel reply.
        %div
          %input#comment_post_ID{:name => "comment_post_ID", :type => "hidden", :value => "143"}
            %input#comment_parent{:name => "comment_parent", :type => "hidden", :value => "0"}
/ #comments


