!!!
%html
  %head
    %title Tweetkey
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", "jquery.min.js"
    = csrf_meta_tags
    = link_to "TweetKey", tweets_path
    %br

    = render 'devise/menu/registration_items'
    = render 'devise/menu/login_items'
    = yield
