!!!
%html
  %head
    %title Tweetkey
    /= stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %link{:href => "/assets/widget69.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/1-default.css", :rel => "stylesheet", :type => "text/css"}
  %body.home.blog
    #_atssh{:style => "visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000; "}
    .wrapper
      .header.clear
        / header #end
      .outer
        / Container
        #container.clear
          .content.left
            .content_top
            .content_bg
              .main
                =link_to "Публикации", "/" 
                =link_to "Пользователи", "/users"
                =link_to "Предложения", "/users"
              %br
              #loop.list.clear
                #tab1.tabberlive
                  = render "shared/tabs" if params[:controller] == "tweets"
                  .tabbertab{:title => ""}
                    %h2 Latest Posts
                    #loop_main.list.clear
                      = yield
                    .hr.clearfix
                    /%script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4c873bb26489d97f", :type => "text/javascript"}
                  .tabbertab.tabbertabhide{:title => ""}
                    %h2 Popular Posts
                    #post_130.post-130.listing.type-listing.status-publish.hentry.post
                      .left
                        .vote.vote130
                          %span#a_span_vote130.span_currentvote 8
                          %span#a_span_plus130.span_plusvote{:style => "display:none;"} +1
                          %span#a_span_minus130.span_minusvote{:style => "display:none;"} -1
                          %a#a_voted_minus_lnk130.hype_link{:already => "voted", :onclick => "a_voted_minus_other(130);", :onmouseout => "a_current_vote(130)", :onmouseover => "a_vote_over_minus(130)", :post => "130", :style => "display:none", :user => "0"} Hype
                          %a#a_voted_plus_lnk130.hype_link{:onclick => "a_voted_plus_other(130);", :onmouseout => "a_current_vote(130)", :onmouseover => "a_vote_over_plus(130)", :post => "130", :style => "display:none", :user => "0"} Hype
                          %a.hype_link{:href => "http://templatic.com/demos/plusone/?ptype=register", :onmouseout => "a_current_vote(130)", :onmouseover => "a_vote_over_plus(130)"} Hype
                      %h3
                        %a{:href => "http://templatic.com/demos/plusone/listing/a-return-to-the-golden-age-of-print/"} A return to the golden age of print
                      .post-meta
                        by
                        %span.post-author
                          %a{:href => "http://templatic.com/demos/plusone/author/templatic-test/", :title => "Posts by templatic"}
                            templatic
                        on
                        %span.post-date
                          May 21, 2011
                        %span.post-category
                          Article Categories:
                          %a{:href => "http://templatic.com/demos/plusone/lcategory/high-fashion/"} High fashion
                          and
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/looks/"} Looks
                        %span.post-tags-none
                          Article Tags:
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/ltags/gorgeous/"} gorgeous
                      / post meta #end
                      .post-content
                        Underline text: Lorem ipsum dolor site amet <u> Lorem ipsum dolor site amet </u> Italic text: Lorem ipsum dolor site amet <i> Lorem ipsum dolor site amet </i> Strong text:
                        %a.read_more{:href => "http://templatic.com/demos/plusone/listing/a-return-to-the-golden-age-of-print/", :title => ""} Read More →
                      .post-meta.clear-meta
                        %span.post-category-none
                          Article Categories:
                          %a{:href => "http://templatic.com/demos/plusone/lcategory/high-fashion/"} High fashion
                          and
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/looks/"} Looks
                        %span.post-tags
                          Article Tags:
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/ltags/gorgeous/"} gorgeous
                        %span.single_comments
                          %a.comments_popup_link{:href => "http://templatic.com/demos/plusone/listing/a-return-to-the-golden-age-of-print/#comments", :title => "Comment on A return to the golden age of print"} 2
                        .post-share
                          .addthis_toolbox.addthis_default_style
                            %a.addthis_button_compact.sharethis.at300m{:href => "http://www.addthis.com/bookmark.php?v=250&username=xa-4c873bb26489d97f"}
                              %span.at300bs.at15nc.at15t_compact>
                              Share
                            .atclear
                        %span.post-view
                          Views :
                          %strong 874
                        %span.single-website
                          %a{:href => "http://templatic.com"} Website
                      / post meta #end
                    #post_138.post-138.listing.type-listing.status-publish.hentry.post
                      .left
                        .vote.vote138
                          %span#a_span_vote138.span_currentvote 8
                          %span#a_span_plus138.span_plusvote{:style => "display:none;"} +1
                          %span#a_span_minus138.span_minusvote{:style => "display:none;"} -1
                          %a#a_voted_minus_lnk138.hype_link{:already => "voted", :onclick => "a_voted_minus_other(138);", :onmouseout => "a_current_vote(138)", :onmouseover => "a_vote_over_minus(138)", :post => "138", :style => "display:none", :user => "0"} Hype
                          %a#a_voted_plus_lnk138.hype_link{:onclick => "a_voted_plus_other(138);", :onmouseout => "a_current_vote(138)", :onmouseover => "a_vote_over_plus(138)", :post => "138", :style => "display:none", :user => "0"} Hype
                          %a.hype_link{:href => "http://templatic.com/demos/plusone/?ptype=register", :onmouseout => "a_current_vote(138)", :onmouseover => "a_vote_over_plus(138)"} Hype
                      %h3
                        %a{:href => "http://templatic.com/demos/plusone/listing/acnes-cypress-boots/"} Acnes Cypress boots
                      .post-meta
                        by
                        %span.post-author
                          %a{:href => "http://templatic.com/demos/plusone/author/templatic-test/", :title => "Posts by templatic"}
                            templatic
                        on
                        %span.post-date
                          May 21, 2011
                        %span.post-category
                          Article Categories:
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                      / post meta #end
                      .post-content
                        Underline text: Lorem ipsum dolor site amet <u> Lorem ipsum dolor site amet </u> Italic text: Lorem ipsum dolor site amet <i> Lorem ipsum dolor site amet </i> Strong text:
                        %a.read_more{:href => "http://templatic.com/demos/plusone/listing/acnes-cypress-boots/", :title => ""} Read More →
                      .post-meta.clear-meta
                        %span.post-category-none
                          Article Categories:
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                        %span.single_comments
                          %a.comments_popup_link{:href => "http://templatic.com/demos/plusone/listing/acnes-cypress-boots/#comments", :title => "Comment on Acnes Cypress boots"} 1
                        .post-share
                          .addthis_toolbox.addthis_default_style
                            %a.addthis_button_compact.sharethis.at300m{:href => "http://www.addthis.com/bookmark.php?v=250&username=xa-4c873bb26489d97f"}
                              %span.at300bs.at15nc.at15t_compact>
                              Share
                            .atclear
                        %span.post-view
                          Views :
                          %strong 1086
                        %span.single-website
                          %a{:href => "http://templatic.com"} Website
                      / post meta #end
                    #post_133.post-133.listing.type-listing.status-publish.hentry.post
                      .left
                        .vote.vote133
                          %span#a_span_vote133.span_currentvote 5
                          %span#a_span_plus133.span_plusvote{:style => "display:none;"} +1
                          %span#a_span_minus133.span_minusvote{:style => "display:none;"} -1
                          %a#a_voted_minus_lnk133.hype_link{:already => "voted", :onclick => "a_voted_minus_other(133);", :onmouseout => "a_current_vote(133)", :onmouseover => "a_vote_over_minus(133)", :post => "133", :style => "display:none", :user => "0"} Hype
                          %a#a_voted_plus_lnk133.hype_link{:onclick => "a_voted_plus_other(133);", :onmouseout => "a_current_vote(133)", :onmouseover => "a_vote_over_plus(133)", :post => "133", :style => "display:none", :user => "0"} Hype
                          %a.hype_link{:href => "http://templatic.com/demos/plusone/?ptype=register", :onmouseout => "a_current_vote(133)", :onmouseover => "a_vote_over_plus(133)"} Hype
                      %h3
                        %a{:href => "http://templatic.com/demos/plusone/listing/the-princess-bride/"} The Princess Bride
                      .post-meta
                        by
                        %span.post-author
                          %a{:href => "http://templatic.com/demos/plusone/author/templatic-test/", :title => "Posts by templatic"}
                            templatic
                        on
                        %span.post-date
                          May 21, 2011
                        %span.post-category
                          Article Categories:
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                      / post meta #end
                      .post-content
                        Underline text: Lorem ipsum dolor site amet <u> Lorem ipsum dolor site amet </u> Italic text: Lorem ipsum dolor site amet <i> Lorem ipsum dolor site amet </i> Strong text:
                        %a.read_more{:href => "http://templatic.com/demos/plusone/listing/the-princess-bride/", :title => ""} Read More →
                      .post-meta.clear-meta
                        %span.post-category-none
                          Article Categories:
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                        %span.single_comments
                          %a.comments_popup_link{:href => "http://templatic.com/demos/plusone/listing/the-princess-bride/#comments", :title => "Comment on The Princess Bride"} 1
                        .post-share
                          .addthis_toolbox.addthis_default_style
                            %a.addthis_button_compact.sharethis.at300m{:href => "http://www.addthis.com/bookmark.php?v=250&username=xa-4c873bb26489d97f"}
                              %span.at300bs.at15nc.at15t_compact>
                              Share
                            .atclear
                        %span.post-view
                          Views :
                          %strong 574
                        %span.single-website
                          %a{:href => "http://templatic.com"} Website
                      / post meta #end
                    #post_127.post-127.listing.type-listing.status-publish.hentry.post
                      .left
                        .vote.vote127
                          %span#a_span_vote127.span_currentvote 1
                          %span#a_span_plus127.span_plusvote{:style => "display:none;"} +1
                          %span#a_span_minus127.span_minusvote{:style => "display:none;"} -1
                          %a#a_voted_minus_lnk127.hype_link{:already => "voted", :onclick => "a_voted_minus_other(127);", :onmouseout => "a_current_vote(127)", :onmouseover => "a_vote_over_minus(127)", :post => "127", :style => "display:none", :user => "0"} Hype
                          %a#a_voted_plus_lnk127.hype_link{:onclick => "a_voted_plus_other(127);", :onmouseout => "a_current_vote(127)", :onmouseover => "a_vote_over_plus(127)", :post => "127", :style => "display:none", :user => "0"} Hype
                          %a.hype_link{:href => "http://templatic.com/demos/plusone/?ptype=register", :onmouseout => "a_current_vote(127)", :onmouseover => "a_vote_over_plus(127)"} Hype
                      %h3
                        %a{:href => "http://templatic.com/demos/plusone/listing/camilla-franks-story/"} Camilla Franks Story
                      .post-meta
                        by
                        %span.post-author
                          %a{:href => "http://templatic.com/demos/plusone/author/templatic-test/", :title => "Posts by templatic"}
                            templatic
                        on
                        %span.post-date
                          May 21, 2011
                        %span.post-category
                          Article Categories:
                          %a{:href => "http://templatic.com/demos/plusone/lcategory/fashion-style/"} Fashion Style
                          and
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                      / post meta #end
                      .post-content
                        Underline text: Lorem ipsum dolor site amet <u> Lorem ipsum dolor site amet </u> Italic text: Lorem ipsum dolor site amet <i> Lorem ipsum dolor site amet </i> Strong text:
                        %a.read_more{:href => "http://templatic.com/demos/plusone/listing/camilla-franks-story/", :title => ""} Read More →
                      .post-meta.clear-meta
                        %span.post-category-none
                          Article Categories:
                          %a{:href => "http://templatic.com/demos/plusone/lcategory/fashion-style/"} Fashion Style
                          and
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                        %span.single_comments
                          %a.comments_popup_link{:href => "http://templatic.com/demos/plusone/listing/camilla-franks-story/#comments", :title => "Comment on Camilla Franks Story"} 1
                        .post-share
                          .addthis_toolbox.addthis_default_style
                            %a.addthis_button_compact.sharethis.at300m{:href => "http://www.addthis.com/bookmark.php?v=250&username=xa-4c873bb26489d97f"}
                              %span.at300bs.at15nc.at15t_compact>
                              Share
                            .atclear
                        %span.post-view
                          Views :
                          %strong 953
                        %span.single-website
                          %a{:href => "http://templatic.com"} Website
                      / post meta #end
                  .tabbertab.last.tabbertabhide{:title => ""}
            .content_bottom
          / content end
          .sidebar.right
            .submit_article
              %input.article_btn{:onclick => "window.location.href='/tweets/new'", :type => "button", :value => "Добавить"}
            .widget
              %h3{:style=> "padding-left: 50px;"}Категории
              %ul
                - unless params[:controller] == "devise/sessions"
                  - @categories.each do |c|
                    %li.cat-item=link_to "#{c.name} (#{c.tweets.count})", "/categories/#{c.name}"
        / /Container #end
      / /outer  #end
      / bottom section start
      .bottom
        .bottom_in
          .three_column.left
          / three_column #end
          .three_column.spacer_3col.left
          / three_column #end
          .three_column.right
          / three_column #end
        / bottom in #end
      / bottom #end
      / bottom section #end
      .footer
        .footer_in
          %p.copyright
            © 2011 All Rights Reserved.
      / footer #end
   
    /= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
