!!!
%html
  %head
    %title Tweetkey
    //= stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %link{:href => "/assets/widget69.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/1-default.css", :rel => "stylesheet", :type => "text/css"}
  %body.home.blog
    #_atssh{:style => "visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000; "}
    .wrapper
      .header.clear
      / header #end
      .outer
        / Container
        #container.clear
          %script{:language => "javascript", :src => "http://templatic.com/demos/plusone/wp-content/themes/plusone/js/tabber.js", :type => "text/javascript"}
          .content.left
            .content_top
            .content_bg
              #loop.list.clear
                #tab1.tabberlive
                  %ul.tabbernav
                    %li.tabberactive
                      %a{:href => "javascript:void(null);", :title => "Latest Posts"} Latest Posts
                    %li
                      %a{:href => "javascript:void(null);", :title => "Popular Posts"} Popular Posts
                    %li
                      %a{:href => "javascript:void(null);", :title => "Recent Comment"} Recent Comment
                  .tabbertab{:title => ""}
                    %h2 Latest Posts
                    #loop.list.clear
                      #post_143.post-143.listing.type-listing.status-publish.hentry.post
                        .left
                          #addlike143.vote
                            %span.span_currentvote 7
                            %span.b_like_disable Hype
                        / Post Title Condition for Post Format
                        %h3
                          %a{:href => "http://templatic.com/demos/plusone/listing/cute-magazine-alert/"}
                            Cute Magazine Alert
                        / Post Title Condition for Post Format
                        .post-meta
                          by
                          %span.post-author
                            %a{:href => "http://templatic.com/demos/plusone/author/templatic-test/", :title => "Posts by templatic"}
                              templatic
                          on
                          %span.post-date
                            May 21, 2011
                          %span.post-category
                            Article Categories:
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/looks/"} Looks
                            and
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/lcategory/outstanding/"} Outstanding
                          %span.post-tags-none
                            Article Tags:
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/ltags/zara/"} zara
                        / post meta #end
                        / Post Content Condition for Post Format
                        .post-content
                          I am always keeping an eye out for new online magazines. Dujour isnt strictly an online magazine (it is available in print too, which is great because you know how
                          %a.read_more{:href => "http://templatic.com/demos/plusone/listing/cute-magazine-alert/", :title => ""} Read More →
                        .post-meta.clear-meta
                          %span.post-category-none
                            Article Categories:
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/looks/"} Looks
                            and
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/lcategory/outstanding/"} Outstanding
                          %span.post-tags
                            Article Tags:
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/ltags/zara/"} zara
                          %span.single_comments
                            %a.comments_popup_link{:href => "http://templatic.com/demos/plusone/listing/cute-magazine-alert/#respond", :title => "Comment on Cute Magazine Alert"} 0
                          .post-share
                            .addthis_toolbox.addthis_default_style
                              %a.addthis_button_compact.sharethis.at300m{:href => "http://www.addthis.com/bookmark.php?v=250&username=xa-4c873bb26489d97f"}
                                %span.at300bs.at15nc.at15t_compact>
                                Share
                              .atclear
                          %span.post-view
                            Views :
                            %strong 5565
                          %span.single-website
                            %a{:href => "http://www.technostarry.com"} Website
                        / post meta #end
                        / Post Content Condition for Post Format
                      #post_141.post-141.listing.type-listing.status-publish.hentry.post
                        .left
                          #addlike141.vote
                            %span.span_currentvote 8
                            %span.b_like_disable Hype
                        / Post Title Condition for Post Format
                        %h3
                          %a{:href => "http://templatic.com/demos/plusone/listing/the-allen-solly-bags/"}
                            The Allen Solly Bags
                        / Post Title Condition for Post Format
                        .post-meta
                          by
                          %span.post-author
                            %a{:href => "http://templatic.com/demos/plusone/author/templatic-test/", :title => "Posts by templatic"}
                              templatic
                          on
                          %span.post-date
                            May 21, 2011
                          %span.post-category
                            Article Categories:
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/fashion-style/"} Fashion Style
                            and
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                          %span.post-tags-none
                            Article Tags:
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/ltags/bags/"} bags
                        / post meta #end
                        / Post Content Condition for Post Format
                        .post-content
                          A while ago Allen Solly gave me this fun assignment to do -Check their store out. I have always been a big fan of their formal wear most of the
                          %a.read_more{:href => "http://templatic.com/demos/plusone/listing/the-allen-solly-bags/", :title => ""} Read More →
                        .post-meta.clear-meta
                          %span.post-category-none
                            Article Categories:
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/fashion-style/"} Fashion Style
                            and
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                          %span.post-tags
                            Article Tags:
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/ltags/bags/"} bags
                          %span.single_comments
                            %a.comments_popup_link{:href => "http://templatic.com/demos/plusone/listing/the-allen-solly-bags/#respond", :title => "Comment on The Allen Solly Bags"} 0
                          .post-share
                            .addthis_toolbox.addthis_default_style
                              %a.addthis_button_compact.sharethis.at300m{:href => "http://www.addthis.com/bookmark.php?v=250&username=xa-4c873bb26489d97f"}
                                %span.at300bs.at15nc.at15t_compact>
                                Share
                              .atclear
                          %span.post-view
                            Views :
                            %strong 1673
                          %span.single-website
                            %a{:href => "http://templatic.com"} Website
                        / post meta #end
                        / Post Content Condition for Post Format
                      .hr.clearfix
                      #post_138.post-138.listing.type-listing.status-publish.hentry.post
                        .left
                          #addlike138.vote
                            %span.span_currentvote 8
                            %span.b_like_disable Hype
                        / Post Title Condition for Post Format
                        %h3
                          %a{:href => "http://templatic.com/demos/plusone/listing/acnes-cypress-boots/"}
                            Acnes Cypress boots
                        / Post Title Condition for Post Format
                        .post-meta
                          by
                          %span.post-author
                            %a{:href => "http://templatic.com/demos/plusone/author/templatic-test/", :title => "Posts by templatic"}
                              templatic
                          on
                          %span.post-date
                            May 21, 2011
                          %span.post-category
                            Article Categories:
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                        / post meta #end
                        / Post Content Condition for Post Format
                        .post-content
                          If ever a bad word was said about a pair of ACNE boots, my ears were not present to bear witness. And such is their quality that I can easily
                          %a.read_more{:href => "http://templatic.com/demos/plusone/listing/acnes-cypress-boots/", :title => ""} Read More →
                        .post-meta.clear-meta
                          %span.post-category-none
                            Article Categories:
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                          %span.single_comments
                            %a.comments_popup_link{:href => "http://templatic.com/demos/plusone/listing/acnes-cypress-boots/#comments", :title => "Comment on Acnes Cypress boots"} 1
                          .post-share
                            .addthis_toolbox.addthis_default_style
                              %a.addthis_button_compact.sharethis.at300m{:href => "http://www.addthis.com/bookmark.php?v=250&username=xa-4c873bb26489d97f"}
                                %span.at300bs.at15nc.at15t_compact>
                                Share
                              .atclear
                          %span.post-view
                            Views :
                            %strong 1086
                          %span.single-website
                            %a{:href => "http://templatic.com"} Website
                        / post meta #end
                        / Post Content Condition for Post Format
                      #post_137.post-137.listing.type-listing.status-publish.hentry.post
                        .left
                          #addlike137.vote
                            %span.span_currentvote 2
                            %span.b_like_disable Hype
                        / Post Title Condition for Post Format
                        %h3
                          %a{:href => "http://templatic.com/demos/plusone/listing/monday-monday-again/"}
                            Monday Monday Again
                        / Post Title Condition for Post Format
                        .post-meta
                          by
                          %span.post-author
                            %a{:href => "http://templatic.com/demos/plusone/author/templatic-test/", :title => "Posts by templatic"}
                              templatic
                          on
                          %span.post-date
                            May 21, 2011
                          %span.post-category
                            Article Categories:
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                            and
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/lcategory/outstanding/"} Outstanding
                        / post meta #end
                        / Post Content Condition for Post Format
                        .post-content
                          Happy Monday all, welcome to the week! I hope everyone had a wonderful weekend, it was a beautiful one here. I am working in my office this morning and doing
                          %a.read_more{:href => "http://templatic.com/demos/plusone/listing/monday-monday-again/", :title => ""} Read More →
                        .post-meta.clear-meta
                          %span.post-category-none
                            Article Categories:
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                            and
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/lcategory/outstanding/"} Outstanding
                          %span.single_comments
                            %a.comments_popup_link{:href => "http://templatic.com/demos/plusone/listing/monday-monday-again/#respond", :title => "Comment on Monday Monday Again"} 0
                          .post-share
                            .addthis_toolbox.addthis_default_style
                              %a.addthis_button_compact.sharethis.at300m{:href => "http://www.addthis.com/bookmark.php?v=250&username=xa-4c873bb26489d97f"}
                                %span.at300bs.at15nc.at15t_compact>
                                Share
                              .atclear
                          %span.post-view
                            Views :
                            %strong 659
                          %span.single-website
                            %a{:href => "http://templatic.com"} Website
                        / post meta #end
                        / Post Content Condition for Post Format
                      .hr.clearfix
                      #post_136.post-136.listing.type-listing.status-publish.hentry.post
                        .left
                          #addlike136.vote
                            %span.span_currentvote 1
                            %span.b_like_disable Hype
                        / Post Title Condition for Post Format
                        %h3
                          %a{:href => "http://templatic.com/demos/plusone/listing/selena-fans-radio-buzz/"}
                            Selena Fans Radio Buzz
                        / Post Title Condition for Post Format
                        .post-meta
                          by
                          %span.post-author
                            %a{:href => "http://templatic.com/demos/plusone/author/templatic-test/", :title => "Posts by templatic"}
                              templatic
                          on
                          %span.post-date
                            May 21, 2011
                          %span.post-category
                            Article Categories:
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/clothing/"} Clothing
                            and
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/lcategory/fashion/"} Fashion
                          %span.post-tags-none
                            Article Tags:
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/ltags/bags/"} bags
                        / post meta #end
                        / Post Content Condition for Post Format
                        .post-content
                          Who Says is in the top 100 played at CHR POP radio and its going to make huger climbs this upcoming week. Who says radio add date got changed to
                          %a.read_more{:href => "http://templatic.com/demos/plusone/listing/selena-fans-radio-buzz/", :title => ""} Read More →
                        .post-meta.clear-meta
                          %span.post-category-none
                            Article Categories:
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/clothing/"} Clothing
                            and
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/lcategory/fashion/"} Fashion
                          %span.post-tags
                            Article Tags:
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/ltags/bags/"} bags
                          %span.single_comments
                            %a.comments_popup_link{:href => "http://templatic.com/demos/plusone/listing/selena-fans-radio-buzz/#respond", :title => "Comment on Selena Fans Radio Buzz"} 0
                          .post-share
                            .addthis_toolbox.addthis_default_style
                              %a.addthis_button_compact.sharethis.at300m{:href => "http://www.addthis.com/bookmark.php?v=250&username=xa-4c873bb26489d97f"}
                                %span.at300bs.at15nc.at15t_compact>
                                Share
                              .atclear
                          %span.post-view
                            Views :
                            %strong 1087
                          %span.single-website
                            %a{:href => "http://templatic.com"} Website
                        / post meta #end
                        / Post Content Condition for Post Format
                      #post_134.post-134.listing.type-listing.status-publish.hentry.post
                        .left
                          #addlike134.vote
                            %span.span_currentvote 10
                            %span.b_like_disable Hype
                        / Post Title Condition for Post Format
                        %h3
                          %a{:href => "http://templatic.com/demos/plusone/listing/sweet-serenity/"}
                            Sweet Serenity
                        / Post Title Condition for Post Format
                        .post-meta
                          by
                          %span.post-author
                            %a{:href => "http://templatic.com/demos/plusone/author/saqib-4343/", :title => "Posts by Saqib"}
                              Saqib
                          on
                          %span.post-date
                            May 21, 2011
                          %span.post-category
                            Article Categories:
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                        / post meta #end
                        / Post Content Condition for Post Format
                        .post-content
                          My family had such a lovely evening tonight…gorgeous weather and a relaxing dinner outside, Spring and Fall nights are my favorite. With our busy lives it is easy to get
                          %a.read_more{:href => "http://templatic.com/demos/plusone/listing/sweet-serenity/", :title => ""} Read More →
                        .post-meta.clear-meta
                          %span.post-category-none
                            Article Categories:
                            = succeed "." do
                              %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                          %span.single_comments
                            %a.comments_popup_link{:href => "http://templatic.com/demos/plusone/listing/sweet-serenity/#respond", :title => "Comment on Sweet Serenity"} 0
                          .post-share
                            .addthis_toolbox.addthis_default_style
                              %a.addthis_button_compact.sharethis.at300m{:href => "http://www.addthis.com/bookmark.php?v=250&username=xa-4c873bb26489d97f"}
                                %span.at300bs.at15nc.at15t_compact>
                                Share
                              .atclear
                          %span.post-view
                            Views :
                            %strong 912
                          %span.single-website
                            %a{:href => "http://templatic.com"} Website
                        / post meta #end
                        / Post Content Condition for Post Format
                      .hr.clearfix
                    %script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4c873bb26489d97f", :type => "text/javascript"}
                    .pagination
                      %a.nextpostslink{:href => "http://templatic.com/demos/plusone/page/2/"} Next Page
                      .Navi
                        %strong.on 1
                        %a{:href => "http://templatic.com/demos/plusone/page/2/"} 2
                        %a{:href => "http://templatic.com/demos/plusone/page/3/"} 3
                        %a.nextpostslink{:href => "http://templatic.com/demos/plusone/page/2/"}
                          %strong »
                  .tabbertab.tabbertabhide{:title => ""}
                    %h2 Popular Posts
                    #post_130.post-130.listing.type-listing.status-publish.hentry.post
                      .left
                        .vote.vote130
                          %span#a_span_vote130.span_currentvote 8
                          %span#a_span_plus130.span_plusvote{:style => "display:none;"} +1
                          %span#a_span_minus130.span_minusvote{:style => "display:none;"} -1
                          %a#a_voted_minus_lnk130.hype_link{:already => "voted", :onclick => "a_voted_minus_other(130);", :onmouseout => "a_current_vote(130)", :onmouseover => "a_vote_over_minus(130)", :post => "130", :style => "display:none", :user => "0"} Hype
                          %a#a_voted_plus_lnk130.hype_link{:onclick => "a_voted_plus_other(130);", :onmouseout => "a_current_vote(130)", :onmouseover => "a_vote_over_plus(130)", :post => "130", :style => "display:none", :user => "0"} Hype
                          %a.hype_link{:href => "http://templatic.com/demos/plusone/?ptype=register", :onmouseout => "a_current_vote(130)", :onmouseover => "a_vote_over_plus(130)"} Hype
                      %h3
                        %a{:href => "http://templatic.com/demos/plusone/listing/a-return-to-the-golden-age-of-print/"} A return to the golden age of print
                      .post-meta
                        by
                        %span.post-author
                          %a{:href => "http://templatic.com/demos/plusone/author/templatic-test/", :title => "Posts by templatic"}
                            templatic
                        on
                        %span.post-date
                          May 21, 2011
                        %span.post-category
                          Article Categories:
                          %a{:href => "http://templatic.com/demos/plusone/lcategory/high-fashion/"} High fashion
                          and
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/looks/"} Looks
                        %span.post-tags-none
                          Article Tags:
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/ltags/gorgeous/"} gorgeous
                      / post meta #end
                      .post-content
                        Underline text: Lorem ipsum dolor site amet <u> Lorem ipsum dolor site amet </u> Italic text: Lorem ipsum dolor site amet <i> Lorem ipsum dolor site amet </i> Strong text:
                        %a.read_more{:href => "http://templatic.com/demos/plusone/listing/a-return-to-the-golden-age-of-print/", :title => ""} Read More →
                      .post-meta.clear-meta
                        %span.post-category-none
                          Article Categories:
                          %a{:href => "http://templatic.com/demos/plusone/lcategory/high-fashion/"} High fashion
                          and
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/looks/"} Looks
                        %span.post-tags
                          Article Tags:
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/ltags/gorgeous/"} gorgeous
                        %span.single_comments
                          %a.comments_popup_link{:href => "http://templatic.com/demos/plusone/listing/a-return-to-the-golden-age-of-print/#comments", :title => "Comment on A return to the golden age of print"} 2
                        .post-share
                          .addthis_toolbox.addthis_default_style
                            %a.addthis_button_compact.sharethis.at300m{:href => "http://www.addthis.com/bookmark.php?v=250&username=xa-4c873bb26489d97f"}
                              %span.at300bs.at15nc.at15t_compact>
                              Share
                            .atclear
                        %span.post-view
                          Views :
                          %strong 874
                        %span.single-website
                          %a{:href => "http://templatic.com"} Website
                      / post meta #end
                    #post_138.post-138.listing.type-listing.status-publish.hentry.post
                      .left
                        .vote.vote138
                          %span#a_span_vote138.span_currentvote 8
                          %span#a_span_plus138.span_plusvote{:style => "display:none;"} +1
                          %span#a_span_minus138.span_minusvote{:style => "display:none;"} -1
                          %a#a_voted_minus_lnk138.hype_link{:already => "voted", :onclick => "a_voted_minus_other(138);", :onmouseout => "a_current_vote(138)", :onmouseover => "a_vote_over_minus(138)", :post => "138", :style => "display:none", :user => "0"} Hype
                          %a#a_voted_plus_lnk138.hype_link{:onclick => "a_voted_plus_other(138);", :onmouseout => "a_current_vote(138)", :onmouseover => "a_vote_over_plus(138)", :post => "138", :style => "display:none", :user => "0"} Hype
                          %a.hype_link{:href => "http://templatic.com/demos/plusone/?ptype=register", :onmouseout => "a_current_vote(138)", :onmouseover => "a_vote_over_plus(138)"} Hype
                      %h3
                        %a{:href => "http://templatic.com/demos/plusone/listing/acnes-cypress-boots/"} Acnes Cypress boots
                      .post-meta
                        by
                        %span.post-author
                          %a{:href => "http://templatic.com/demos/plusone/author/templatic-test/", :title => "Posts by templatic"}
                            templatic
                        on
                        %span.post-date
                          May 21, 2011
                        %span.post-category
                          Article Categories:
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                      / post meta #end
                      .post-content
                        Underline text: Lorem ipsum dolor site amet <u> Lorem ipsum dolor site amet </u> Italic text: Lorem ipsum dolor site amet <i> Lorem ipsum dolor site amet </i> Strong text:
                        %a.read_more{:href => "http://templatic.com/demos/plusone/listing/acnes-cypress-boots/", :title => ""} Read More →
                      .post-meta.clear-meta
                        %span.post-category-none
                          Article Categories:
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                        %span.single_comments
                          %a.comments_popup_link{:href => "http://templatic.com/demos/plusone/listing/acnes-cypress-boots/#comments", :title => "Comment on Acnes Cypress boots"} 1
                        .post-share
                          .addthis_toolbox.addthis_default_style
                            %a.addthis_button_compact.sharethis.at300m{:href => "http://www.addthis.com/bookmark.php?v=250&username=xa-4c873bb26489d97f"}
                              %span.at300bs.at15nc.at15t_compact>
                              Share
                            .atclear
                        %span.post-view
                          Views :
                          %strong 1086
                        %span.single-website
                          %a{:href => "http://templatic.com"} Website
                      / post meta #end
                    #post_133.post-133.listing.type-listing.status-publish.hentry.post
                      .left
                        .vote.vote133
                          %span#a_span_vote133.span_currentvote 5
                          %span#a_span_plus133.span_plusvote{:style => "display:none;"} +1
                          %span#a_span_minus133.span_minusvote{:style => "display:none;"} -1
                          %a#a_voted_minus_lnk133.hype_link{:already => "voted", :onclick => "a_voted_minus_other(133);", :onmouseout => "a_current_vote(133)", :onmouseover => "a_vote_over_minus(133)", :post => "133", :style => "display:none", :user => "0"} Hype
                          %a#a_voted_plus_lnk133.hype_link{:onclick => "a_voted_plus_other(133);", :onmouseout => "a_current_vote(133)", :onmouseover => "a_vote_over_plus(133)", :post => "133", :style => "display:none", :user => "0"} Hype
                          %a.hype_link{:href => "http://templatic.com/demos/plusone/?ptype=register", :onmouseout => "a_current_vote(133)", :onmouseover => "a_vote_over_plus(133)"} Hype
                      %h3
                        %a{:href => "http://templatic.com/demos/plusone/listing/the-princess-bride/"} The Princess Bride
                      .post-meta
                        by
                        %span.post-author
                          %a{:href => "http://templatic.com/demos/plusone/author/templatic-test/", :title => "Posts by templatic"}
                            templatic
                        on
                        %span.post-date
                          May 21, 2011
                        %span.post-category
                          Article Categories:
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                      / post meta #end
                      .post-content
                        Underline text: Lorem ipsum dolor site amet <u> Lorem ipsum dolor site amet </u> Italic text: Lorem ipsum dolor site amet <i> Lorem ipsum dolor site amet </i> Strong text:
                        %a.read_more{:href => "http://templatic.com/demos/plusone/listing/the-princess-bride/", :title => ""} Read More →
                      .post-meta.clear-meta
                        %span.post-category-none
                          Article Categories:
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                        %span.single_comments
                          %a.comments_popup_link{:href => "http://templatic.com/demos/plusone/listing/the-princess-bride/#comments", :title => "Comment on The Princess Bride"} 1
                        .post-share
                          .addthis_toolbox.addthis_default_style
                            %a.addthis_button_compact.sharethis.at300m{:href => "http://www.addthis.com/bookmark.php?v=250&username=xa-4c873bb26489d97f"}
                              %span.at300bs.at15nc.at15t_compact>
                              Share
                            .atclear
                        %span.post-view
                          Views :
                          %strong 574
                        %span.single-website
                          %a{:href => "http://templatic.com"} Website
                      / post meta #end
                    #post_127.post-127.listing.type-listing.status-publish.hentry.post
                      .left
                        .vote.vote127
                          %span#a_span_vote127.span_currentvote 1
                          %span#a_span_plus127.span_plusvote{:style => "display:none;"} +1
                          %span#a_span_minus127.span_minusvote{:style => "display:none;"} -1
                          %a#a_voted_minus_lnk127.hype_link{:already => "voted", :onclick => "a_voted_minus_other(127);", :onmouseout => "a_current_vote(127)", :onmouseover => "a_vote_over_minus(127)", :post => "127", :style => "display:none", :user => "0"} Hype
                          %a#a_voted_plus_lnk127.hype_link{:onclick => "a_voted_plus_other(127);", :onmouseout => "a_current_vote(127)", :onmouseover => "a_vote_over_plus(127)", :post => "127", :style => "display:none", :user => "0"} Hype
                          %a.hype_link{:href => "http://templatic.com/demos/plusone/?ptype=register", :onmouseout => "a_current_vote(127)", :onmouseover => "a_vote_over_plus(127)"} Hype
                      %h3
                        %a{:href => "http://templatic.com/demos/plusone/listing/camilla-franks-story/"} Camilla Franks Story
                      .post-meta
                        by
                        %span.post-author
                          %a{:href => "http://templatic.com/demos/plusone/author/templatic-test/", :title => "Posts by templatic"}
                            templatic
                        on
                        %span.post-date
                          May 21, 2011
                        %span.post-category
                          Article Categories:
                          %a{:href => "http://templatic.com/demos/plusone/lcategory/fashion-style/"} Fashion Style
                          and
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                      / post meta #end
                      .post-content
                        Underline text: Lorem ipsum dolor site amet <u> Lorem ipsum dolor site amet </u> Italic text: Lorem ipsum dolor site amet <i> Lorem ipsum dolor site amet </i> Strong text:
                        %a.read_more{:href => "http://templatic.com/demos/plusone/listing/camilla-franks-story/", :title => ""} Read More →
                      .post-meta.clear-meta
                        %span.post-category-none
                          Article Categories:
                          %a{:href => "http://templatic.com/demos/plusone/lcategory/fashion-style/"} Fashion Style
                          and
                          = succeed "." do
                            %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/"} Lifestyle
                        %span.single_comments
                          %a.comments_popup_link{:href => "http://templatic.com/demos/plusone/listing/camilla-franks-story/#comments", :title => "Comment on Camilla Franks Story"} 1
                        .post-share
                          .addthis_toolbox.addthis_default_style
                            %a.addthis_button_compact.sharethis.at300m{:href => "http://www.addthis.com/bookmark.php?v=250&username=xa-4c873bb26489d97f"}
                              %span.at300bs.at15nc.at15t_compact>
                              Share
                            .atclear
                        %span.post-view
                          Views :
                          %strong 953
                        %span.single-website
                          %a{:href => "http://templatic.com"} Website
                      / post meta #end
                  .tabbertab.last.tabbertabhide{:title => ""}
                    %h2 Recent Comment
                    %ul.recent-comment
                      %li.clearfix
                        %img.avatar.avatar-40.photo{:alt => "", :height => "40", :src => "http://0.gravatar.com/avatar/8a15a1cc74d73a0f3d8b3c22964021ae?s=40&d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&r=G", :width => "40"}
                          %p
                            %span
                              %a{:href => "http://templatic.com/demos/plusone/listing/acnes-cypress-boots/#comment-107", :title => "fifa | Acnes Cypress boots"} fifa
                            %br
                              This so good and best. Yo!
                          %p
                            %small
                              %a{:href => "http://templatic.com/demos/plusone/listing/acnes-cypress-boots/"} View Article
                              |
                              %a{:href => "http://templatic.com/demos/plusone/listing/acnes-cypress-boots/#comment-107"} Comment
                      %li.clearfix
                        %img.avatar.avatar-40.photo{:alt => "", :height => "40", :src => "http://1.gravatar.com/avatar/9478b8535f6f54356bb1972175d34530?s=40&d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&r=G", :width => "40"}
                          %p
                            %span
                              %a{:href => "http://templatic.com/demos/plusone/listing/sweet-serenity/#comment-106", :title => "Werldklass | Sweet Serenity"} Werldklass
                            %br
                              ทดสอบ
                          %p
                            %small
                              %a{:href => "http://templatic.com/demos/plusone/listing/sweet-serenity/"} View Article
                              |
                              %a{:href => "http://templatic.com/demos/plusone/listing/sweet-serenity/#comment-106"} Comment
                      %li.clearfix
                        %img.avatar.avatar-40.photo{:alt => "", :height => "40", :src => "http://0.gravatar.com/avatar/4a9b90be20d1c37c7aa1dc9bbc67b056?s=40&d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&r=G", :width => "40"}
                          %p
                            %span
                              %a{:href => "http://templatic.com/demos/plusone/listing/cute-magazine-alert/#comment-105", :title => "Khan Helaluzzaman Ayon | Cute Magazine Alert"} Khan Helaluzzaman Ayon
                            %br
                              test
                          %p
                            %small
                              %a{:href => "http://templatic.com/demos/plusone/listing/cute-magazine-alert/"} View Article
                              |
                              %a{:href => "http://templatic.com/demos/plusone/listing/cute-magazine-alert/#comment-105"} Comment
                      %li.clearfix
                        %img.avatar.avatar-40.photo{:alt => "", :height => "40", :src => "http://0.gravatar.com/avatar/4e02955b34b7ca1647f76d29731c1420?s=40&d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&r=G", :width => "40"}
                          %p
                            %span
                              %a{:href => "http://templatic.com/demos/plusone/listing/cute-magazine-alert/#comment-104", :title => "sdfsf | Cute Magazine Alert"} sdfsf
                            %br
                              sfdqsdfqsdf
                          %p
                            %small
                              %a{:href => "http://templatic.com/demos/plusone/listing/cute-magazine-alert/"} View Article
                              |
                              %a{:href => "http://templatic.com/demos/plusone/listing/cute-magazine-alert/#comment-104"} Comment
                      %li.clearfix
                        %img.avatar.avatar-40.photo{:alt => "", :height => "40", :src => "http://1.gravatar.com/avatar/3755904cbf1a1432f3cbe37b4730096b?s=40&d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&r=G", :width => "40"}
                          %p
                            %span
                              %a{:href => "http://templatic.com/demos/plusone/listing/the-allen-solly-bags/#comment-103", :title => "Real HCG diet | The Allen Solly Bags"} Real HCG diet
                            %br
                              Thanks for this great information! I really appreciate this. I actually let my husband have a look and he posted a link to it on his blog :)
                          %p
                            %small
                              %a{:href => "http://templatic.com/demos/plusone/listing/the-allen-solly-bags/"} View Article
                              |
                              %a{:href => "http://templatic.com/demos/plusone/listing/the-allen-solly-bags/#comment-103"} Comment
            / content bg #end
            .content_bottom
          / content end
          .sidebar.right
            .submit_article
              %input.article_btn{:onclick => "window.location.href='tweets/new'", :type => "button", :value => "Добавить"}
                %small Submit your article now to our ever growing database
            .widget
              %h3 Article Categories
              %ul
                %li.cat-item.cat-item-200
                  %a{:href => "http://templatic.com/demos/plusone/lcategory/1/", :title => "View all posts filed under 1"} 1
                  (28)
                %li.cat-item.cat-item-12
                  %a{:href => "http://templatic.com/demos/plusone/lcategory/clothing/", :title => "View all posts filed under Clothing"} Clothing
                  (41)
                %li.cat-item.cat-item-7
                  %a{:href => "http://templatic.com/demos/plusone/lcategory/fashion/", :title => "View all posts filed under Fashion"} Fashion
                  (14)
                %li.cat-item.cat-item-11
                  %a{:href => "http://templatic.com/demos/plusone/lcategory/fashion-style/", :title => "View all posts filed under Fashion Style"} Fashion Style
                  (16)
                %li.cat-item.cat-item-13
                  %a{:href => "http://templatic.com/demos/plusone/lcategory/high-fashion/", :title => "View all posts filed under High fashion"} High fashion
                  (8)
                %li.cat-item.cat-item-8
                  %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/", :title => "View all posts filed under Lifestyle"} Lifestyle
                  (19)
                %li.cat-item.cat-item-9
                  %a{:href => "http://templatic.com/demos/plusone/lcategory/looks/", :title => "View all posts filed under Looks"} Looks
                  (17)
                %li.cat-item.cat-item-14
                  %a{:href => "http://templatic.com/demos/plusone/lcategory/outstanding/", :title => "View all posts filed under Outstanding"} Outstanding
                  (9)
        / /Container #end
      / /outer  #end
      / bottom section start
      .bottom
        .bottom_in
          .three_column.left
          / three_column #end
          .three_column.spacer_3col.left
          / three_column #end
          .three_column.right
          / three_column #end
        / bottom in #end
      / bottom #end
      / bottom section #end
      .footer
        .footer_in
          %p.copyright
            © 2011
            = succeed "." do
              %a{:href => "http://templatic.com/demos/plusone"}
                PlusOne Templatic Theme
            All Rights Reserved.
          %p.credits
            Designed by
            %a{:href => "http://templatic.com"} Templatic
      / footer #end
   
    = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
    = yield
